---
import Main from "../components/Main.svelte";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Convert Apple Music Playlists to Spotify">
  <main class="m-0">
    <Main client:load client:only="svelte" />
  </main>
</Layout>
