---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <script
      src="https://js-cdn.music.apple.com/musickit/v3/musickit.js"
      data-web-components
      async></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  </head>
  <body class="bg-white min-h-full">
    <script>
      document.addEventListener("musickitloaded", async function () {
        // Call configure() to configure an instance of MusicKit on the Web.
        try {
          await MusicKit.configure({
            developerToken: import.meta.env.PUBLIC_APPLEMUSICDEVTOKEN,
            app: {
              name: "My Cool Web App",
              build: "1978.4.1",
            },
          });
        } catch (err) {
          console.log(err);
          alert(`${err}. Please contact eashelon@cs.washington.edu`);
        }

        // MusicKit instance is available
        const music = MusicKit.getInstance();
      });
    </script>
    <slot />
  </body>
</html>
<style is:global>
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
